<div>
    Listando los pokemones desde Handlebars...
</div>
<div>
    <ul id="pokemons">
        {{#each pokemons}}
        <li> {{this.name}} - {{this.type}} </li>
        <a href="/pokemon/{{this.name}}"><img src="{{this.photo}}" alt="pokemon-{{this.name}}" width="100"></a>
        {{/each}}
    </ul>
</div>